Position_Updater/Service References/Fleetfence/PositionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddPosition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Customer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="positions" type="tns:ArrayOfPosition" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPosition">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Position" nillable="true" type="tns:Position" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Position">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ModemID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Lat" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Lon" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddPositionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPositionResult" type="tns:ArrayOfResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Result" nillable="true" type="tns:Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ModemID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Lat" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Lon" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPositionSoapIn">
    <wsdl:part name="parameters" element="tns:AddPosition" />
  </wsdl:message>
  <wsdl:message name="AddPositionSoapOut">
    <wsdl:part name="parameters" element="tns:AddPositionResponse" />
  </wsdl:message>
  <wsdl:portType name="PositionServiceSoap">
    <wsdl:operation name="AddPosition">
      <wsdl:input message="tns:AddPositionSoapIn" />
      <wsdl:output message="tns:AddPositionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PositionServiceSoap" type="tns:PositionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPosition">
      <soap:operation soapAction="http://tempuri.org/AddPosition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PositionServiceSoap12" type="tns:PositionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPosition">
      <soap12:operation soapAction="http://tempuri.org/AddPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PositionService">
    <wsdl:port name="PositionServiceSoap" binding="tns:PositionServiceSoap">
      <soap:address location="https://fleetfence.fleetvisor.eu/webservices/PositionService/PositionService.asmx" />
    </wsdl:port>
    <wsdl:port name="PositionServiceSoap12" binding="tns:PositionServiceSoap12">
      <soap12:address location="https://fleetfence.fleetvisor.eu/webservices/PositionService/PositionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>